    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          <span>
            <i class="fa fa-address-book fa-lg" style="font-size:42px"></i>
             {{!-- <i class="material-icons nav-icons" style="font-size: 40px;">person</i> --}}
           <h1 style="display: inline;">Select Packages</h1></span>
            <hr>
           
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active text-capitalize"> {{user.lastName}} </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
   {{!-- {{user.id}} --}}
    
    <section class="content">
      <div class="container-fluid">
     
        <div class="row profile animate__animated animate__fadeInLeft">
           

         <div class="col-md-4">
             <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center card card-widget widget-user">
                    <div class="widget-user-header text-white"
                    style="background: url('../img/silverMembership.png') center center;">
                     </div>          
                </div>

                <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-silver"><b>Silver Plan</b></a>
              </div>
              <!-- /.card-body -->
            </div>
            </div>

              <div class="col-md-4">
             <div class="card card-primary card-outline">
              <div class="card-body box-profile">
             <div class="text-center card card-widget widget-user">
                    <div class="widget-user-header text-white"
                    style="background: url('../img/goldMembership.png') center center;">
                     </div>          
                </div>


                <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-platinum"><b>Gold Plan</b></a>

              </div>
              <!-- /.card-body -->
            </div>
            </div>

       

           <div class="col-md-4">
             <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                
                <div class="text-center card card-widget widget-user">
                    <div class="widget-user-header text-white"
                    style="background: url('../img/platinumMembership.png') center center;">
                     </div>          
                </div>

            

                <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal-platinum"><b>Platinum Plan</b></a>

              </div>
              <!-- /.card-body -->
            </div>
            </div>
        </div>
        <!-- /.row -->






 <!-- /Modal -->
          <div class="modal fade" id="modal-silver">
        <div class="modal-dialog">
          <div class="modal-content bg-success">
            <div class="modal-header">
              <h4 class="modal-title">Silver Package</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <form action="/admin/packages/silver" method="post" >
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-light">Silver Package</button>
              </form>
              
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      
 <!-- /Modal -->
          <div class="modal fade" id="modal-gold">
        <div class="modal-dialog">
          <div class="modal-content bg-success">
            <div class="modal-header">
              <h4 class="modal-title">Gold Package</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-light">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->


      
 <!-- /Modal -->
          <div class="modal fade" id="modal-platinum">
        <div class="modal-dialog">
          <div class="modal-content bg-success">
            <div class="modal-header">
              <h4 class="modal-title">Platinum Package</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-light">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->








    </div>
    </section>




   




       