     <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Transfer To Bank</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
{{!-- 
    {{#if success_message}}

      {{success_message}}

    {{/if}} --}}


   <section class="content">
      <div class="container-fluid">
           <!-- /.row -->
        <div class="row transfer animate__animated animate__bounce">
         <!-- /.col -->
          <div class="col-md-6">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-info">
                <a href="./transfer/domestic_bank"><h3 class="widget-user-username">Domestic Bank</h3></a>
              </div>
               
            </div>
            <!-- /.widget-user -->
          </div>
          <!-- /.col -->

               <!-- /.col -->
          <div class="col-md-6">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-info">
                     <a href="./transfer/foreign_bank"><h3 class="widget-user-username">Foreign Bank</h3></a>
              </div>
               
            </div>
            <!-- /.widget-user -->
          </div>
          <!-- /.col -->
        </div>

      </div><!-- /.container-fluid -->
      
    </section>