     <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Withdrawal Wallet</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


   <section class="content">
      <div class="container-fluid">
           <!-- /.row -->
        <div class="row dBank animate__animated animate__zoomIn">
         <!-- /.col -->
              <div class="col-md-6">
         
            <div class="login-boxr">

  <!-- /.login-logo -->
  <div class="card bordert">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Wallet Wallet</p>
    

    
  
    <form action="./wallet" method="post" enctype="multipart/form-data" >

      {{#each errors}}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        </div>

        {{/each}}




      <label for="expityMonth">Wallet Address</label>

        <div class="input-group mb-3">
          <input type="text" class="form-control" requiredd name="walletAddress" value="{{walletAddress}}" placeholder="Enter Wallet Address">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        
      <label for="expityMonth">Amount</label>

        <div class="input-group mb-3">
          <input type="text" class="form-control" requiredd name="amount" value="{{amount}}" placeholder="Enter Amount">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>




        <label for="expityMonth">Wallet Type</label>
        <div class="input-group mb-3">
            <select name="walletType" id=""  class="form-control">
                <option value="BITCOIN">BITCOIN</option>
                <option value="ETHEREUM">ETHEREUM</option>

            </select>

        </div>


     <div class="social-auth-links text-center mb-3">
       
     <button type="submit" class="btn btn-block btn-success">
            Withdrawal Amount
    </button>
 
   </div>
     
      </form>
      <a href="./" class="btn btn-block btn-primary">
            Go Back
      </a>
 
    </div>
    <!-- /.login-card-body -->
  </div>

            <!-- /.row -->

        
              <!-- /.row -->
</div>
<!-- /.login-box -->


            </div>

       
        </div>

      </div><!-- /.container-fluid -->
      
    </section>